h1 first-child
{
	color:purple;
}

.mine
{
	color:blue;
}
body {
    background-image: url("/IMG/always.jpg");
    opacity: 0.5;
     background-repeat: no-repeat;
    background-attachment: fixed;
   
}
p
{
	color:red;
	text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
}